@model AirSnC.Models.Products

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Products</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Name" />
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture1" class="control-label"></label>
                <input asp-for="Picture1" class="form-control" />
                <span asp-validation-for="Picture1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture2" class="control-label"></label>
                <input asp-for="Picture2" class="form-control" />
                <span asp-validation-for="Picture2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture3" class="control-label"></label>
                <input asp-for="Picture3" class="form-control" />
                <span asp-validation-for="Picture3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
