@{
    ViewData["Title"] = "Home Page";
}


<section class="u-clearfix u-palette-2-light-2 u-section-1" id="sec-8ce4">
    <div class="u-align-left u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-gallery u-layout-horizontal u-lightbox u-no-transition u-show-text-on-hover u-gallery-1">
            <div class="u-gallery-inner">
                <div class="u-effect-fade u-gallery-item u-gallery-item-1">
                    <div class="u-back-slide" data-image-width="1280" data-image-height="854">
                        <img class="u-back-image" src="~/HomePage/images/4f5ae977239dfa8651c0a908a58c2e53684f45eb8f6125de73fcffc890a645a0f188a2a570c2687dbb844dc9b5f9733c83c66d33a2555719561bb4_1280.jpg">
                    </div><div class="u-over-slide u-shading u-over-slide-1">
                        <h3 class="u-gallery-heading"></h3><p class="u-gallery-text"></p>
                    </div>
                </div><div class="u-effect-fade u-gallery-item u-gallery-item-2">
                    <div class="u-back-slide" data-image-width="1280" data-image-height="853">
                        <img class="u-back-image" src="~/HomePage/images/fe17a87ec39ea6f93c56f897c792ae6abe34faee48e70424fe9cff7f6673a4f2ea7093e4d3a0311a6a35cee37e8e60ca2de050f4ba2c3ea5e8c611_1280.jpg">
                    </div><div class="u-over-slide u-shading u-over-slide-2">
                        <h3 class="u-gallery-heading"></h3><p class="u-gallery-text"></p>
                    </div>
                </div><div class="u-effect-fade u-gallery-item u-gallery-item-3">
                    <div class="u-back-slide" data-image-width="1280" data-image-height="910">
                        <img class="u-back-image" src="~/HomePage/images/14e948e6286e320a0f6e329ce9dbff0bc95c37dff771a8fe03d917a0649520c64b8a1963f4b1ee7791fb0662b210af35d9e8cb0596a74284274427_1280.jpg">
                    </div><div class="u-over-slide u-shading u-over-slide-3">
                        <h3 class="u-gallery-heading"></h3><p class="u-gallery-text"></p>
                    </div>
                </div><div class="u-effect-fade u-gallery-item u-gallery-item-4">
                    <div class="u-back-slide" data-image-width="1280" data-image-height="769">
                        <img class="u-back-image" src="~/HomePage/images/3480ec8eabfa08c12204b8272154aa6bc991ddafa942cc21e5edf9ca6a71fd8d10a4538087d5d24dcb957f4f425e8d083f358780ca1d6bf7557f19_1280.jpg">
                    </div><div class="u-over-slide u-shading u-over-slide-4">
                        <h3 class="u-gallery-heading"></h3><p class="u-gallery-text"></p>
                    </div>
                </div>@*<div class="u-effect-fade u-gallery-item u-gallery-item-5">
                <div class="u-back-slide">
                <img class="u-back-image" src="images/default-image.jpg">
                </div><div class="u-over-slide u-shading u-over-slide-5">
                <h3 class="u-gallery-heading"></h3><p class="u-gallery-text"></p>
                </div>
                </div><div class="u-effect-fade u-gallery-item u-gallery-item-6">
                <div class="u-back-slide">
                <img class="u-back-image" src="images/default-image.jpg">
                </div><div class="u-over-slide u-shading u-over-slide-6">
                <h3 class="u-gallery-heading"></h3><p class="u-gallery-text"></p>
                </div>
                </div>*@
            </div>
            <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-1" href="#" role="button">
                <span aria-hidden="true">
                    <svg viewBox="0 0 451.847 451.847">
                        <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
                    </svg>
                </span>
                <span class="sr-only">
                    <svg viewBox="0 0 451.847 451.847">
                        <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
                    </svg>
                </span>
            </a>
            <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-2" href="#" role="button">
                <span aria-hidden="true">
                    <svg viewBox="0 0 451.846 451.847">
                        <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
                    </svg>
                </span>
                <span class="sr-only">
                    <svg viewBox="0 0 451.846 451.847">
                        <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
                    </svg>
                </span>
            </a>
        </div>
    </div>
    <div class="u-clearfix u-sheet u-valign-middle">
        <div class="fr-view u-clearfix u-rich-text u-text u-text-1">
            <h1>Air Sweets and Cakes</h1>
            <p>
                Passion for sweets, attention to details and respect for quality prompted us to start this application where you can take a look at all sorts of cakes.

                Look through a wide range of products, see their pictures, descriptions, price, and order the lovely cake that you love.
            </p>
        </div>
    </div>
</section>

<section class="u-align-center u-clearfix u-palette-2-light-2 u-section-3" id="sec-85a7">
    <div class="u-clearfix u-sheet u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-valign-top-lg u-valign-top-xl u-sheet-1">
        <div class="u-expanded-width u-layout-grid u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-align-center u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-1">
                        <h1 class="u-text u-title u-text-1" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">5</h1>
                        <p class="u-text u-text-2">Sweetshops</p>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-2">
                        <h1 class="u-text u-title u-text-3" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">68</h1>
                        <p class="u-text u-text-4">Cakes Sold</p>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-3">
                        <h1 class="u-text u-title u-text-5" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">34</h1>
                        <p class="u-text u-text-6">Happy Clients</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="u-clearfix u-footer u-palette-2-light-1" id="sec-4ade">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-left u-social-icons u-spacing-25 u-social-icons-1">
            <a class="u-social-url" target="_blank" data-type="Github" title="Github" href="">
                <span class="u-icon u-social-github u-social-icon u-icon-1">
                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-e549"></use></svg>
                    <svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-e549">
                        <circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle>
                        <path fill="#FFFFFF" d="M88,51.3c0-5.5-1.9-10.2-5.3-13.7c0.6-1.3,2.3-6.5-0.5-13.5c0,0-4.2-1.4-14,5.3c-4.1-1.1-8.4-1.7-12.7-1.8c-4.3,0-8.7,0.6-12.7,1.8c-9.7-6.6-14-5.3-14-5.3c-2.8,7-1,12.2-0.5,13.5C25,41.2,23,45.7,23,51.3c0,19.6,11.9,23.9,23.3,25.2c-1.5,1.3-2.8,3.5-3.2,6.8c-3,1.3-10.2,3.6-14.9-4.3c0,0-2.7-4.9-7.8-5.3c0,0-5-0.1-0.4,3.1c0,0,3.3,1.6,5.6,7.5c0,0,3,9.1,17.2,6c0,4.3,0.1,8.3,0.1,9.5h25.2c0-1.7,0.1-7.2,0.1-14c0-4.7-1.7-7.9-3.4-9.4C76,75.2,88,70.9,88,51.3z"></path>
                    </svg>
                </span>
            </a>
            <a class="u-social-url" target="_blank" data-type="App Store" title="App Store" href="">
                <span class="u-file-icon u-icon u-social-custom u-social-icon u-icon-2"><img src="~/HomePage/images/5977575.png" alt=""></span>
            </a>
            <a class="u-social-url" target="_blank" data-type="Play Store" title="Play Store" href="">
                <span class="u-file-icon u-icon u-social-custom u-social-icon u-icon-3"><img src="~/HomePage/images/104089.png" alt=""></span>
            </a>
        </div>
    </div>
</footer>